.game-scroll {
    -fx-pref-width: 500px;
}

.game-scroll .game-record {
    -fx-pref-height: 65px;
    -fx-alignment: center;
    -fx-font-size: 21px;
}

.game-scroll .game-record:hover {
    -fx-background-color: rgb(100, 250, 100);
}

.game-scroll .game-record:pressed {
    -fx-background-color: rgb(50, 170, 50);
}

.header-label {
    -fx-fill: white;
    -fx-font-size: 23px;
    -fx-text-alignment: center;
}

.game-record Label {
    -fx-font-size: 23px;
}

.selected-game-record {
    -fx-border-width: 3px;
    -fx-border-color: rgb(230, 230, 230);
}

.not-selected-game-record {
    -fx-border-width: 0px;
}

.game-record .check-password {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-scale-z: 2;
}