.gameImageView {
	-fx-image: url('../images/MonopolyGameField.jpg');
}

.chat {
	-fx-text-fill: rgb(13, 15, 17);
	-fx-font-size: 17px;
}

.log {
	-fx-text-fill: red;
	-fx-font-size: 17px;
}

.player-list {

}

.player {
	-fx-background-radius: 3px;
	-fx-text-fill: rgb(13, 15, 17);
	-fx-font-size: 17px;
}

.player:hover {
	-fx-background-color: rgb(100, 170, 100);
}

.player:pressed {
	-fx-background-color: rgb(30, 150, 30);
}

#propertyVBox {
	-fx-border-width: 3px;
	-fx-start-margin: 3px;
	-fx-end-margin: 3px;
}

.property {
	-fx-background-radius: 3px;
}

.property * {
	-fx-font-size: 17px;
}

.property:hover {
	-fx-background-color: rgb(100, 170, 100);
}

.property:pressed {
	-fx-background-color: rgb(30, 150, 30);
}

.in-mortgage {
	-fx-background-color: rgb(230, 100, 100);
}